# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Entornos
venv/
.env
.venv/

# Django
staticfiles/
media/
db.sqlite3

# Editores / OS
.vscode/
.idea/
.DS_Store
# === Python / Django ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
db.sqlite3

# === Entornos / IDE ===
venv/
.env
.env.*
.vscode/

# === Django estáticos opcional (si se collectstatic en deploy) ===
staticfiles/
media/
