# === Python / Django ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
db.sqlite3

# === Entornos / IDE ===
venv/
.env
.env.*
.vscode/

# === Django estáticos opcional (si usas collectstatic en deploy) ===
staticfiles/
media/

# === Node/Front opcional ===
node_modules/
dist/

# === SO ===
.DS_Store
Thumbs.db
