<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Rol</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/usuario.css'%}">
</head>
<body>
    {% include 'Usuarios/navbarUsuarios.html' %}
    <div class="container mt-4 mb-4">
    <!--Formulario Rol-->
        <form method="POST">
            {% csrf_token %}
            <h4>Datos Rol</h4>
            {{ form.non_field_errors }}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                {{ form.nombre }}
                {{ form.nombre.errors }}
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                {{ form.descripcion }}
                {{ form.descripcion.errors }}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Guardar Rol</button>
        </form>
    </div>
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </footer>
</body>
</html>