#barraNavegacion{
    background-color: #e01919;
}

.navbar-brand{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo{
    width: 50px;
    height: 50px;
}

.nav-link{
    color: white;
}
