{% extends 'navbar.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/login.css' %}">
{% endblock %}

{% block title %}Crear Nueva Contraseña{% endblock %}

{% block cuerpo %}
<div class="container mt-4 w-25 mb-4" id="contenedor_login">
    <h4 class="text-center">Crear Nueva Contraseña</h4>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'crearContraseña' %}">
        {% csrf_token %}
        <p class="mt-4">Ingrese su nueva contraseña:</p>
        <input type="password" name="password" class="form-control mb-3"
            placeholder="Nueva contraseña(Min: 12 carácteres. Mayusculas, simbolo)" minlength="12" required>

        <input type="password" name="confirmar" class="form-control"
            placeholder="Confirmar contraseña" minlength="12" required>
        <div class="d-flex mt-4">
            <button type="submit" class="btn btn-success flex-fill">Actualizar contraseña</button>
        </div>
    </form>

    <a class="d-flex justify-content-center mt-3" href="{% url 'login' %}">Volver al Inicio</a>
</div>
{% endblock %}
