{% extends 'navbar.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Login
{% endblock title %}

{% block cuerpo %}
<div class="container mt-4 w-25 mb-4" id="contenedor_login">
    <h4 class="text-center">Iniciar Sesión</h4>
    <div class="d-flex justify-content-center mt-4">
        <img src="{% static 'images/logo_lilis.png' %}" alt="">
    </div>
    <form method="POST">
        {% csrf_token %}
        <label for="username" class="form-label mt-4">Ingrese su Username o Correo</label>
        <input type="text" name="username" required class="form-control" placeholder="username@correo.cl">

        <label for="password" class="form-label mt-4">Ingrese su contraseña</label>
        <input type="password" class="form-control" required name="password" placeholder="**********">

        <div class="d-flex mt-4">
            <div>
                <input type="checkbox" name="recordarpassword" id="recordarpassword">
                <label for="recordarpassword" class="ms-3">Recuerdame</label>
            </div>

            <div class="ms-auto">
                <a href="{% url 'recuperarContraseña' %}" >¿Olvidaste tu Contraseña?</a>
            </div>
        </div>
        <div class="d-flex mt-4">
            <button type="submit" class="btn btn-primary flex-fill">Iniciar Sesión</button>
        </div>
        {% if messages %}
        <div class="alert alert-danger mt-3">
            {% for msg in messages %}
                {{ msg }}
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
<div class="container mt-4 mb-4 p-0" style="width: 30%;">
    <div class="card">
        <div class="card-body"> 
            <div class="card-title text-center" style="text-decoration: underline;"><strong>Credenciales Superadmin</strong></div>
            <div class="d-flex">
                 <div class="d-flex">
                <div class="card-text me-2"><strong>Email/Username: </strong>Admin954@dulcerialilis.cl /<span id="usernameCopy">Administrador</span></div>
		<button onclick="copyUsername()" class="bi bi-copy"style="background-color:none; border-color:rgb(255,0,0); color:rgba(255,0,0,0.651);"></button>
            </div>
            </div>
            <div class="d-flex">
                <div class="card-text me-2"><strong>Contraseña: </strong><span id="passwordCopy">DuLc3R!aL1l!s</span></div>
		<button onclick="copyPassword()" class="bi bi-copy" style="background-color:none; border-color:rgb(255,0,0); color:rgba(255,17,0,0.651);"></button>
	    </div>
        </div>
    </div>
</div>

<script>
function copyUsername() {
    const text = document.getElementById("usernameCopy").innerText;

    // Crear input temporal
    const tempInput = document.createElement("input");
    tempInput.value = text;
    document.body.appendChild(tempInput);
    tempInput.select();

    // Ejecutar comando de copiado
    document.execCommand("copy");

    // Eliminar input temporal
    document.body.removeChild(tempInput);

}

function copyPassword() {
    const text = document.getElementById("passwordCopy").innerText;

    const tempInput = document.createElement("input");
    tempInput.value = text;
    document.body.appendChild(tempInput);
    tempInput.select();

    document.execCommand("copy");

    document.body.removeChild(tempInput);

}
</script>

{% endblock cuerpo %}
