{% extends 'navbar.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/historia-empresa.css' %}">
<link rel="stylesheet" href="{% static 'CSS/catalogo.css' %}">
{% endblock %}

{% block title %}
    Catalogo
{% endblock title %}
    
{% block cuerpo %}
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        {% for categoria in categorias %}
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/Catalogo_'|add:categoria|add:'.jpg' %}" 
                     alt="{{ categoria }}" 
                     class="imagen_card d-block mx-auto" />
                <div class="card-body text-center">
                    <h5 class="card-title">{{ categoria }}</h5>
                    <a href="{% url 'subcatalogo' categoria %}" class="btn btn-danger">
                        Seleccionar Opciones
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay categorías disponibles.</p>
        {% endfor %}
    </div>
</div>

{% endblock cuerpo %}
